<% @image_links.each do |image_link| %>
  <%= content_tag :p, image_link.url %>
<% end %>
<header>
  Hey Look I'm in the header!
</header>

<section>  
  <header>
    Check me out, I'm in the first section!
  </header>
</section>

<section>  
  <header>
  </header>
</section>

<section>  
  <header>
  </header>
</section>

<footer>
</footer>
