<% @image_links.each do |image_link| %>
  <%= content_tag :p, image_link.url %>
<% end %>
<header>
</header>

<section>  
  <header>
  </header>
</section>

<section>  
  <header>
  </header>
</section>

<section>  
  <header>
  </header>
</section>

<footer>
</footer>
